{% extends 'base.html' %}

{% block content %}
    <h1>Welcome to Picblo</h1>
    {% if current_user.is_authenticated %}
        <p>Hi, {{ current_user.username }}! <a href="{{ url_for('upload') }}">Upload a picture</a></p>
    {% else %}
        <p>Please <a href="{{ url_for('login') }}">log in</a> or <a href="{{ url_for('register') }}">register</a> to upload a picture.</p>
    {% endif %}

    <div class="gallery">
        {% for picture in pictures %}
            <div class="picture">
                <img src="{{ url_for('static', filename='img/' + picture.image) }}" alt="Picture uploaded by {{ picture.user.username }}" />
                <div class="votes">
                    <a href="{{ url_for('vote', picture_id=picture.id, vote_value=1) }}">Vote Up</a>
                    <span>{{ picture.votes }}</span>
                    <a href="{{ url_for('vote', picture_id=picture.id, vote_value=-1) }}">Vote Down</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
