{% extends 'base.html' %}

{% block content %}
    <h1>Login</h1>
    <form method="POST" enctype="multipart/form-data" action="{{ url_for('login') }}">
        {{ form.hidden_tag() }}
        <div>
            <label for="{{ form.username.id }}">Username</label>
            {{ form.username(placeholder='Enter your username') }}
            {% for error in form.username.errors %}
                <span class="error">{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            <label for="{{ form.password.id }}">Password</label>
            {{ form.password(placeholder='Enter your password') }}
            {% for error in form.password.errors %}
                <span class="error">{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.remember_me() }}
            <label for="{{ form.remember_me.id }}">Remember Me</label>
        </div>
        <button type="submit">{{ form.submit.label }}</button>
    </form>
{% endblock %}
